
<div class="content"> 
    <div class="col-md-6 col-md-offset-3">
        <h1> Welcome to Vitamin Management Systems, @(ViewBag.User.FullName) </h1>
        <h3>You can navigate to pages from the top navigation bar.</h3>
    </div>
</div>

