<div class="container">
    <h2>List of Resources</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Resource Name</td>
                <td>Link</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in ViewBag.Resource)
            {
                <tr>
                    <td>element.ResourceName</td>
                    <td><a href="@element.ResourceURL" class="btn btn-xs btn-success">Link</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>