@model WebApplication1.Models.StudentModel
<body>
    <div class="container" style="text-align:center">
        <h1>Official Student Certificate</h1>
        <h3>2018 Fall</h3>
        <p>@ViewBag.User.FullName is currently a student here in Vitamin University, Ankara.</p> 
    </div>
</body>