@model WebApplication1.Models.TeacherModel
<body>
    <div class="container">
        <h2>List of Students</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Student Name</td>
                    <td>Student GPA</td>
                    <td>Student Schedule</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model.teach.Course.FirstOrDefault().Transcript.ToList())
                {
                    <tr>
                        <td>@element.Student.User.SingleOrDefault(x=> x.StudentID == element.StudentID).FullName</td>
                        <td>@element.Student.GPA</td>
                        <td><button class="btn btn-default">Schedule</button></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
