/Implementation/AcademicWarfare_menu/AcademicWarfare/build/
/Implementation/AcademicWarfare_menu/AcademicWarfare/dist/
/Implementation/AcademicWarfare_menu/AcademicWarfare/nbproject/private/
/Implementation/AcademicWarfare/dist/
Implementation/AcademicWarfare/build/built-jar.properties
*.properties
*.class